<div>
  <h2> Add Category </h2>
  <div>
    <%= form_with model: @category do |f| %>
    <div>
      <div class="field">
        <%= f.label :Icon %>
        <%= f.file_field :icon%>
      </div><br>

      <div class="field">
        <%= f.label :Name %>
        <%= f.text_field :name%>
      </div><br>
    
      <%= f.submit "Save Category" %>
    <% end %>
  </div>
</div>
